In [2]:
# !pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.12.2-cp37-none-win_amd64.whl (9.3 MB)
Requirement already satisfied: pandas>=0.21 in c:\programdata\miniconda3\envs\ssac-one\lib\site-packages (from statsmodels) (1.1.4)
Requirement already satisfied: scipy>=1.1 in c:\programdata\miniconda3\envs\ssac-one\lib\site-packages (from statsmodels) (1.5.4)
Requirement already satisfied: numpy>=1.15 in c:\programdata\miniconda3\envs\ssac-one\lib\site-packages (from statsmodels) (1.19.3)
Collecting patsy>=0.5
  Downloading patsy-0.5.1-py2.py3-none-any.whl (231 kB)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\miniconda3\envs\ssac-one\lib\site-packages (from pandas>=0.21->statsmodels) (2020.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\miniconda3\envs\ssac-one\lib\site-packages (from pandas>=0.21->statsmodels) (2.8.1)
Requirement already satisfied: six in c:\programdata\miniconda3\envs\ssac-one\lib\site-packages (from patsy>=0.5->statsmodels) (1.15.0)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.1 statsmodels-0.12.2

In [5]:
# 데이터 준비
import statsmodels.api as sm

data = sm.datasets.fair.load_pandas().data # statsmodels 패키지에서 sample data 가져오기

In [7]:
data.info()
data.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6366 entries, 0 to 6365
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rate_marriage    6366 non-null   float64
 1   age              6366 non-null   float64
 2   yrs_married      6366 non-null   float64
 3   children         6366 non-null   float64
 4   religious        6366 non-null   float64
 5   educ             6366 non-null   float64
 6   occupation       6366 non-null   float64
 7   occupation_husb  6366 non-null   float64
 8   affairs          6366 non-null   float64
dtypes: float64(9)
memory usage: 447.7 KB

   rate_marriage   age  yrs_married  ...  occupation  occupation_husb   affairs
0            3.0  32.0          9.0  ...         2.0              5.0  0.111111
1            3.0  27.0         13.0  ...         3.0              4.0  3.230769
2            4.0  22.0          2.5  ...         3.0              5.0  1.400000
3            4.0  37.0         16.5  ...         5.0              5.0  0.727273
4            5.0  27.0          9.0  ...         3.0              4.0  4.666666

[5 rows x 9 columns]

In [8]:
data['affairs'] = data["affairs"].astype(bool) # 0 -> False /  != 0 -> True

In [10]:
data.head()

   rate_marriage   age  yrs_married  ...  occupation  occupation_husb  affairs
0            3.0  32.0          9.0  ...         2.0              5.0     True
1            3.0  27.0         13.0  ...         3.0              4.0     True
2            4.0  22.0          2.5  ...         3.0              5.0     True
3            4.0  37.0         16.5  ...         5.0              5.0     True
4            5.0  27.0          9.0  ...         3.0              4.0     True

[5 rows x 9 columns]

In [12]:
data.groupby(by="affairs")['rate_marriage', 'age', 'yrs_married', 'children', 'religious'].mean()

         rate_marriage        age  yrs_married  children  religious
affairs
False         4.329701  28.390679     7.989335  1.238813   2.504521
True          3.647345  30.537019    11.152460  1.728933   2.261568

In [13]:
# target과 features 구분
X = data.drop('affairs', axis=1).values
y = data['affairs'].values

In [15]:
X[:5]

array([ True,  True,  True,  True,  True])

In [17]:
data['affairs'].value_counts()

False    4313
True     2053
Name: affairs, dtype: int64

In [18]:
# 훈련 데이터와 테스트 데이터 분할
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [19]:
X_train.shape, X_test.shape

((4774, 8), (1592, 8))

In [22]:
# 모델 훈련
from sklearn.linear_model import LogisticRegression

lr2 = LogisticRegression() # 2진 분류기 모델 (선형)
lr2.fit(X_train, y_train) # 모델 훈련

LogisticRegression()

In [23]:
print( lr2.score(X_train, y_train) )
print( lr2.score(X_test, y_test) )

0.728110599078341
0.7129396984924623