In [69]:
# 기본 패키지 준비
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [70]:
# 데이터 준비
diabetes = pd.read_csv('data-files/diabetes.csv')

In [71]:
# 데이터 탐색
diabetes.info()
diabetes.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [72]:
# 설명변수와 목적변수 구분
X = diabetes.drop('Outcome', axis=1).values
y = diabetes['Outcome'].values

In [78]:
X.shape

(768, 8)

In [73]:
diabetes['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [74]:
# 훈련세트와 테스트세트 분할
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [79]:
X_train.shape

(576, 8)

In [75]:
from sklearn.preprocessing import MinMaxScaler

mms = MinMaxScaler()
X_train_scaled = mms.fit_transform(X_train)
X_test_scaled = mms.transform(X_test)

In [76]:
# SVC 모델 훈련
from sklearn.svm import SVC

svc = SVC()
svc.fit(X_train_scaled, y_train)

svc.score(X_train_scaled, y_train), svc.score(X_test_scaled, y_test)

(0.8142361111111112, 0.75)

In [77]:
import joblib

joblib.dump(svc, 'data-files/diabetes-model.pkl')
joblib.dump(mms, 'data-files/diabetes-scaler.pkl')

['data-files/diabetes-scaler.pkl']