In [1]:
# !pip install scikit-surprise

Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
Requirement already satisfied: joblib>=0.11 in c:\programdata\miniconda3\envs\ssac-one\lib\site-packages (from scikit-surprise) (0.17.0)
Requirement already satisfied: numpy>=1.11.2 in c:\programdata\miniconda3\envs\ssac-one\lib\site-packages (from scikit-surprise) (1.19.3)
Requirement already satisfied: scipy>=1.0.0 in c:\programdata\miniconda3\envs\ssac-one\lib\site-packages (from scikit-surprise) (1.5.4)
Requirement already satisfied: six>=1.10.0 in c:\programdata\miniconda3\envs\ssac-one\lib\site-packages (from scikit-surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py): started
  Building wheel for scikit-surprise (setup.py): finished with status 'done'
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-win_amd64.whl size=713322 sha256=9fef54a20cc2544bda749be21140f096d3c54c7ca04932fa3c1acb3f7222fe01
  Stored in directory: c:\users\oh.chi.hooooon\appdata\local\pip\cache\wheels\76\44\74\b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.1

In [2]:
from surprise import Dataset

In [7]:
# Dataset.load_builtin('ml-100k')는 터미널에서 한 번 실행하고 노트북에서 다시 실행
data = Dataset.load_builtin("ml-100k")

In [9]:
type(data)

surprise.dataset.DatasetAutoFolds

In [10]:
from surprise.model_selection import train_test_split

trainset, testset = train_test_split(data)

In [12]:
type(trainset), type(testset)

(surprise.trainset.Trainset, list)

In [13]:
trainset.n_users, trainset.n_items, trainset.n_ratings

(943, 1646, 80000)

In [17]:
[ x for x in trainset.all_users() ][:10]
[ x for x in trainset.all_items() ][:10]
[ x for x in trainset.all_ratings() ][:10]

[(0, 0, 5.0),
 (0, 14, 5.0),
 (0, 51, 5.0),
 (0, 364, 4.0),
 (0, 404, 4.0),
 (0, 641, 4.0),
 (0, 113, 5.0),
 (0, 7, 5.0),
 (0, 677, 3.0),
 (0, 331, 4.0)]

In [18]:
testset[:10]

[('551', '13', 1.0),
 ('830', '229', 2.0),
 ('868', '746', 2.0),
 ('130', '588', 4.0),
 ('759', '275', 4.0),
 ('373', '233', 3.0),
 ('351', '1105', 4.0),
 ('229', '269', 4.0),
 ('1', '53', 3.0),
 ('497', '25', 4.0)]

In [19]:
from surprise import SVD

algo = SVD()
algo.fit(trainset)

In [20]:
predictions = algo.test(testset)

In [23]:
type(predictions), type(predictions[0]), len(predictions)

(list, surprise.prediction_algorithms.predictions.Prediction, 20000)

In [24]:
predictions[:5]

[Prediction(uid='551', iid='13', r_ui=1.0, est=3.1720758487231224, details={'was_impossible': False}),
 Prediction(uid='830', iid='229', r_ui=2.0, est=3.31623401869121, details={'was_impossible': False}),
 Prediction(uid='868', iid='746', r_ui=2.0, est=3.0870150467154533, details={'was_impossible': False}),
 Prediction(uid='130', iid='588', r_ui=4.0, est=4.669945218768222, details={'was_impossible': False}),
 Prediction(uid='759', iid='275', r_ui=4.0, est=4.392773876462733, details={'was_impossible': False})]

In [25]:
[ (prediction.uid, prediction.iid, prediction.est) for prediction in predictions[:3] ]

[('551', '13', 3.1720758487231224),
 ('830', '229', 3.31623401869121),
 ('868', '746', 3.0870150467154533)]

In [26]:
algo.predict(str(759), str(275))

Prediction(uid='759', iid='275', r_ui=None, est=4.392773876462733, details={'was_impossible': False})

In [27]:
from surprise import accuracy

print( accuracy.rmse(predictions) )
print( accuracy.mae(predictions) )

RMSE: 0.9346
0.934585457159151
MAE:  0.7360
0.7359758052325709

In [28]:
import pandas as pd

ratings = pd.read_csv('data-files/ml-latest-small/ratings.csv')

In [29]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [31]:
ratings['rating'].describe()

count    100836.000000
mean          3.501557
std           1.042529
min           0.500000
25%           3.000000
50%           3.500000
75%           4.000000
max           5.000000
Name: rating, dtype: float64

In [30]:
# 원본 데이터에서 header 제거하고 파일로 저장
ratings.to_csv('data-files/ml-latest-small/ratings-noh.csv', header=False, index=False)

In [32]:
# 데이터 읽기 도구 + 읽기 설정 (파서) : Reader
from surprise import Reader

reader = Reader(line_format="user item rating timestamp", sep=",", rating_scale=(0.5, 5))
data = Dataset.load_from_file('data-files/ml-latest-small/ratings-noh.csv', reader)

In [36]:
trainset, testset = train_test_split(data, test_size=0.25, random_state=42)

alog = SVD(n_factors=50, random_state=42)

alog.fit(trainset)
predictions = alog.test(testset)

accuracy.rmse(predictions)
accuracy.mae(predictions)

RMSE: 0.8785
MAE:  0.6754

0.6753682865388253

In [37]:
movies = pd.read_csv('data-files/ml-latest-small/movies.csv')

In [38]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [45]:
ratings[ratings['userId'] == 1]['movieId'].tolist()

[1,
 3,
 6,
 47,
 50,
 70,
 101,
 110,
 151,
 157,
 163,
 216,
 223,
 231,
 235,
 260,
 296,
 316,
 333,
 349,
 356,
 362,
 367,
 423,
 441,
 457,
 480,
 500,
 527,
 543,
 552,
 553,
 590,
 592,
 593,
 596,
 608,
 648,
 661,
 673,
 733,
 736,
 780,
 804,
 919,
 923,
 940,
 943,
 954,
 1009,
 1023,
 1024,
 1025,
 1029,
 1030,
 1031,
 1032,
 1042,
 1049,
 1060,
 1073,
 1080,
 1089,
 1090,
 1092,
 1097,
 1127,
 1136,
 1196,
 1197,
 1198,
 1206,
 1208,
 1210,
 1213,
 1214,
 1219,
 1220,
 1222,
 1224,
 1226,
 1240,
 1256,
 1258,
 1265,
 1270,
 1275,
 1278,
 1282,
 1291,
 1298,
 1348,
 1377,
 1396,
 1408,
 1445,
 1473,
 1500,
 1517,
 1552,
 1573,
 1580,
 1587,
 1617,
 1620,
 1625,
 1644,
 1676,
 1732,
 1777,
 1793,
 1804,
 1805,
 1920,
 1927,
 1954,
 1967,
 2000,
 2005,
 2012,
 2018,
 2028,
 2033,
 2046,
 2048,
 2054,
 2058,
 2078,
 2090,
 2093,
 2094,
 2096,
 2099,
 2105,
 2115,
 2116,
 2137,
 2139,
 2141,
 2143,
 2161,
 2174,
 2193,
 2253,
 2268,
 2273,
 2291,
 2329,
 2338,
 2353,
 2366,
 2387,
 2389,
 2395,
 2406,
 2414,
 2427,
 2450,
 2459,
 2470,
 2478,
 2492,
 2502,
 2528,
 2529,
 2542,
 2571,
 2580,
 2596,
 2616,
 2617,
 2628,
 2640,
 2641,
 2644,
 2648,
 2654,
 2657,
 2692,
 2700,
 2716,
 2761,
 2797,
 2826,
 2858,
 2872,
 2899,
 2916,
 2944,
 2947,
 2948,
 2949,
 2959,
 2985,
 2987,
 2991,
 2993,
 2997,
 3033,
 3034,
 3052,
 3053,
 3062,
 3147,
 3168,
 3176,
 3243,
 3247,
 3253,
 3273,
 3386,
 3439,
 3440,
 3441,
 3448,
 3450,
 3479,
 3489,
 3527,
 3578,
 3617,
 3639,
 3671,
 3702,
 3703,
 3729,
 3740,
 3744,
 3793,
 3809,
 4006,
 5060]