In [1]:
import numpy as np
import pandas as pd

In [2]:
diamonds_df = pd.read_csv('data-files/diamonds.csv')

In [8]:
diamonds_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

In [4]:
diamonds_df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [15]:
print( diamonds_df.columns[0] )
diamonds_df.drop(diamonds_df.columns[0], axis=1, inplace=True)
diamonds_df.head()

Unnamed: 0

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [29]:
diamonds_df2 = pd.get_dummies(diamonds_df)

print(diamonds_df.shape, diamonds_df2.shape)
diamonds_df2.head()

(53940, 10) (53940, 27)

,carat,depth,table,price,x,y,z,cut_Fair,cut_Good,cut_Ideal,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.23,61.5,55.0,326,3.95,3.98,2.43,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1,0.21,59.8,61.0,326,3.89,3.84,2.31,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0.23,56.9,65.0,327,4.05,4.07,2.31,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,0.29,62.4,58.0,334,4.20,4.23,2.63,0,0,0,...,1,0,0,0,0,0,0,1,0,0
4,0.31,63.3,58.0,335,4.34,4.35,2.75,0,1,0,...,0,1,0,0,0,1,0,0,0,0

In [28]:
from sklearn.preprocessing import OrdinalEncoder

diamonds_df3 = diamonds_df.copy()

color_categories = sorted(diamonds_df3['color'].unique())
print( color_categories )

oe = OrdinalEncoder(categories=[color_categories])
diamonds_df3['encoded_color'] = oe.fit_transform(diamonds_df3["color"].values.reshape(-1, 1))
diamonds_df3.head()

['D', 'E', 'F', 'G', 'H', 'I', 'J']

,carat,cut,color,clarity,depth,table,price,x,y,z,encoded_color
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,1.0
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,1.0
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,1.0
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,5.0
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,6.0

In [30]:
diamonds_df3['cut'].unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [32]:
y = diamonds_df2['price']
X = diamonds_df2.drop('price', axis=1)

In [34]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [41]:
from sklearn.preprocessing import MinMaxScaler

mms = MinMaxScaler()
X_train_scaled = pd.DataFrame(mms.fit_transform(X_train.values), columns=X_train.columns)
X_test_scaled = pd.DataFrame(mms.transform(X_test.values), columns=X_test.columns)

In [40]:
X_train_scaled.head()

,carat,depth,table,x,y,z,cut_Fair,cut_Good,cut_Ideal,cut_Premium,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.209979,0.508333,0.269231,0.644320,0.116638,0.133019,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.022869,0.527778,0.250000,0.407821,0.074024,0.085220,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.209979,0.538889,0.269231,0.628492,0.115959,0.133333,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.126819,0.544444,0.230769,0.551210,0.101188,0.116981,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.122661,0.519444,0.250000,0.553073,0.101019,0.115409,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [42]:
# X_train_scaled[['carat', 'depth']].describe()
X_test_scaled[['carat', 'depth']].describe()

              carat         depth
count  16182.000000  16182.000000
mean       0.123427      0.521107
std        0.097791      0.040052
min        0.000000      0.000000
25%        0.041580      0.502778
50%        0.103950      0.525000
75%        0.174636      0.541667
max        0.792100      1.000000

In [46]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [48]:
y_train.describe()

count    37758.000000
mean      3951.495312
std       4006.428295
min        326.000000
25%        956.000000
50%       2404.000000
75%       5366.750000
max      18818.000000
Name: price, dtype: float64

In [44]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso

lr = LinearRegression()
lr.fit(X_train, y_train)
print( lr.score(X_train, y_train), lr.score(X_test, y_test) )

0.9195976267987521 0.9201866914388085

In [49]:
train_predicted_values = lr.predict(X_train)
test_predicted_values = lr.predict(X_test)
print( mean_absolute_error(y_train, train_predicted_values), mean_absolute_error(y_test, test_predicted_values) )
print( np.sqrt(mean_squared_error(y_train, train_predicted_values)), np.sqrt(mean_squared_error(y_test, test_predicted_values)) )

746.0331908740067 734.2415163929626
1136.0202087749415 1115.6905645006918

In [55]:
ridge = Ridge(alpha=0.0001)
ridge.fit(X_train, y_train)
print( ridge.score(X_train, y_train), ridge.score(X_test, y_test) )

0.9195976267987455 0.920186691490423

In [58]:
lasso = Lasso(alpha=0.0001)
lasso.fit(X_train, y_train)
print( lasso.score(X_train, y_train), lasso.score(X_test, y_test) )

0.9195976267984644 0.9201866954552109
C:\ProgramData\Miniconda3\envs\ssac-one\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:532: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2969865828.837536, tolerance: 60605526.52466705
  positive)

In [66]:
from sklearn.tree import DecisionTreeRegressor

dtr = DecisionTreeRegressor(max_depth=12)
dtr.fit(X_train, y_train)
print( dtr.score(X_train, y_train), dtr.score(X_test, y_test) )

0.9822130776616291 0.971031612364496

In [77]:
from sklearn.model_selection import GridSearchCV

params = { 'max_depth': [8, 10, 12, 14, 16, 18] }
dtr2 = DecisionTreeRegressor()

grid_cv = GridSearchCV(dtr2, param_grid=params, cv=5)

grid_cv.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=DecisionTreeRegressor(),
             param_grid={'max_depth': [8, 10, 12, 14, 16, 18]})

In [78]:
grid_cv.best_params_

{'max_depth': 14}

In [81]:
grid_cv.score(X_train, y_train), grid_cv.score(X_test, y_test)

(0.9896191031907238, 0.9714630176958872)

In [82]:
test_predicted_values = grid_cv.predict(X_test)

mean_absolute_error(y_test, test_predicted_values)

337.33415282461624