In [1]:
import numpy as np
import pandas as pd

In [2]:
click_ad_df = pd.read_csv('data-files/click_add_sampled.csv')

In [3]:
click_ad_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                300000 non-null  float64
 1   click             300000 non-null  int64
 2   hour              300000 non-null  int64
 3   C1                300000 non-null  int64
 4   banner_pos        300000 non-null  int64
 5   site_id           300000 non-null  object
 6   site_domain       300000 non-null  object
 7   site_category     300000 non-null  object
 8   app_id            300000 non-null  object
 9   app_domain        300000 non-null  object
 10  app_category      300000 non-null  object
 11  device_id         300000 non-null  object
 12  device_ip         300000 non-null  object
 13  device_model      300000 non-null  object
 14  device_type       300000 non-null  int64
 15  device_conn_type  300000 non-null  int64
 16  C14               300000 non-null  int64
 17  C15               300000 non-null  int64
 18  C16               300000 non-null  int64
 19  C17               300000 non-null  int64
 20  C18               300000 non-null  int64
 21  C19               300000 non-null  int64
 22  C20               300000 non-null  int64
 23  C21               300000 non-null  int64
dtypes: float64(1), int64(14), object(9)
memory usage: 54.9+ MB

In [4]:
click_ad_df.head()

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,1.000009e+18,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,2,15706,320,50,1722,0,35,-1,79
1,1.000017e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,100084,79
2,1.000037e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,100084,79
3,1.000064e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15706,320,50,1722,0,35,100084,79
4,1.000068e+19,0,14102100,1005,1,fe8cc448,9166c161,0569f928,ecad2386,7801e8d9,...,1,0,18993,320,50,2161,0,35,-1,157

In [11]:
len(click_ad_df['banner_pos'].unique())

6

In [12]:
X = click_ad_df.drop(['click', 'id', 'hour', 'device_id', 'site_id', 'app_domain', 'app_id', 'device_ip'], axis=1)
y = click_ad_df['click']

In [13]:
y.value_counts()

0    248789
1     51211
Name: click, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [16]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(handle_unknown='ignore')
X_train_encoded = ohe.fit_transform(X_train)

X_test_encoded = ohe.transform(X_test)

In [17]:
X_train_encoded.shape

(240000, 5524)

In [19]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier(max_depth=10)
dtc.fit(X_train_encoded, y_train)
dtc.score(X_train_encoded, y_train), dtc.score(X_test_encoded, y_test)

(0.8354041666666666, 0.8334333333333334)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import roc_auc_score

parameters = {'max_depth': [3, 10, None]}

random_forest = RandomForestClassifier(n_estimators=100, criterion='gini', min_samples_split=30, n_jobs=-1)

grid_search = GridSearchCV(random_forest, parameters, n_jobs=-1, cv=3, scoring='roc_auc')
grid_search.fit(X_train_encoded, y_train)

print(grid_search.best_params_)
print(grid_search.best_score_)

random_forest_best = grid_search.best_estimator_
pos_prob = random_forest_best.predict_proba(X_test_encoded)[:, 1]
print('ROC AUC : {0}'.format(roc_auc_score(y_test, pos_prob)))