In [26]:
import numpy as np
import pandas as pd
import requests
import time
from bs4 import BeautifulSoup

In [19]:
search_word = '하둡'
page_no = 1


url = "https://www.saramin.co.kr/zf_user/search/recruit?search_area=main&search_done=y&search_optional_item=n&searchType=search&searchword={0}&recruitPage={1}&recruitSort=relation&recruitPageCount=40&inner_com_type=&company_cd=0,1,2,3,4,5,6,7,9,10&quick_apply=&except_read="

resp = requests.get(url.format(search_word, page_no))

In [20]:
print( resp.status_code )
resp.text[:200]

200

'<!DOCTYPE html><html lang="ko">\n<head>\n    <meta charset="utf-8"/>\n    <title>하둡 :: 사람인 채용정보 검색</title>    <meta name="robots" content="NOINDEX, NOFOLLOW" >\n<meta http-equiv="Content-Language" content'

In [21]:
soup = BeautifulSoup(resp.text, "html.parser")

In [24]:
recruit_items = soup.select('#recruit_info_list .item_recruit')
# len( recruit_items )

for recruit_item in recruit_items:
    cname = recruit_item.select_one('.area_corp a')
    title = recruit_item.select_one('.area_job .job_tit')
    exp = recruit_item.select_one('.area_job .job_condition span:nth-child(2)')
    edu = recruit_item.select_one('.area_job .job_condition span:nth-child(3)')
    loc = recruit_item.select_one('.area_job .job_condition span:nth-child(1)')
    print("[", cname.get_text().strip(), title.get_text().strip(), exp.get_text().strip(), edu.get_text().strip(), loc.get_text().strip(), "]")

[ (주)스카우트파트너스 국내 대형 테크핀사 빅데이터/하둡(Hadoop) 플랫폼 엔지니어 채 신입·경력 대졸↑ 서울 강남구 ]
[ 주식회사 오퍼스랩 빅데이터(하둡) 관련 개발 및 운영 업무 정규직 채용 합니다 신입·경력 초대졸↑ 경기 성남시 분당구 ]
[ (주)티지360테크놀로지스 빅데이터(Hadoop, Hive) 플렛폼 엔지니어/개발자 경력 채용 경력3년↑ 학력무관 서울 강남구 ]
[ 토니서치 [대기업관계사] 데이터 엔지니어 (Hadoop, Spark) 경력 5~13년 대졸↑ 서울 강남구 ]
[ 교보생명보험(주) 교보생명 경력사원 채용 공고 경력 대졸↑ 서울 종로구 ]
[ 한국산업기술시험원 [2021년 1분기-1차] 한국산업기술시험원 위촉직 채용공고 신입·경력 대졸↑ 서울 구로구 ]
[ (주)카카오뱅크 금융 IT 개발자 대규모 채용 경력1년↑ 학력무관 경기 성남시 ]
[ (주)코리아폴리스쿨 [코리아폴리스쿨] 각 부문 신입/경력 모집 경력무관 학력무관 서울 송파구 ]
[ (재)한국조선해양기자재연구원 2021년 상반기 KOMERI 공개채용 공고 신입·경력 대졸↑ 부산 강서구 ]
[ (주)바이브컴퍼니 [바이브컴퍼니] 2021년 전문연구요원 채용 경력무관 석사↑ 서울 용산구 ]
[ (주)잉카인터넷 연구개발 기획 및 시스템 분석/설계 경력무관 대졸↑ 서울 강서구 ]
[ (주)메이팜소프트 2021년 상반기 빅데이터/머신러닝/인공지능(AI) 경력직 채용 경력4년↑ 초대졸↑ 서울 송파구 ]
[ 현대오토에버(주) 현대오토에버 경력사원 대규모 상시 채용 경력3년↑ 학력무관 서울 강남구 ]
[ 쿠팡(주) 로켓 커리어 전환 프로그램 - 쿠팡 테크 직군 경력5년↑ 학력무관 서울 송파구 ]
[ 쿠팡 주식회사 [쿠팡이츠] Data Analyst 경력직 채용 (신입 가능) 신입·경력 대졸↑ 서울 송파구 ]
[ 쿠팡 주식회사 [쿠팡] Business Data Analyst (비즈니스 데이터 분석) 경력자 경력 8~17년 대졸↑ 서울 송파구 ]
[ 쿠팡 주식회사 [쿠팡] 데이터 분석/엔지니어 경력직 채용 경력5년↑ 대졸↑ 서울 송파구 ]
[ (주)와이즈넛 2021 와이즈넛 상반기 각 부문 신입사원 채용 신입 대졸↑ 경기 성남시 분당구 ]
[ 네이버시스템(주) 응용프로그래머 ( JAVA / WEB) / Linux 서버운용 및 개발자 채용 경력2년↑ 초대졸↑ 경북 김천시 ]
[ 비컴솔루션(주) 빅데이터/머신러닝 신입 및 경력개발자 모집 신입·경력 대졸↑ 서울 강남구 ]
[ 롯데멤버스(주) [롯데멤버스] 2021 상반기 부문별 인재 채용 경력1년↑ 초대졸↑ 서울 중구 ]
[ ㈜다임즈 [다임즈 대전지사] 응용소프트웨어 개발자 충원 경력 4~15년 대졸↑ 대전 유성구 ]
[ ㈜더아이엠씨 2021년 더아이엠씨 상반기 채용공고(AI/R/Python/NLP) 신입·경력 대졸↑ 대구 수성구 ]
[ (주)록스 [AI연구소/정규직] AI 연구원 채용 공고 경력무관 초대졸↑ 서울 성동구 ]
[ (주)에이아이스페라 [경력] 개발팀 백엔드 개발자 채용 공고 경력 2~5년 학력무관 서울 성동구 ]
[ (주)인라이플 [업계1위/주4.5일근무] 빅데이터 분석 및 기획 부문 경력직 채용 경력 학력무관 서울 구로구 ]
[ (주)인라이플 [업계1위/주4.5일근무] Python 및 AI 개발 직무 인재채용 경력 학력무관 서울 구로구 ]
[ 메가존클라우드(주) [메가존클라우드] 2021 상반기 Tech 부문별 대규모 채용 경력무관 학력무관 서울 강남구 ]
[ (주)그리드위즈 2021년 상반기 각 부문 신입 및 경력 모집 신입·경력 학력무관 경기 성남시 ]
[ (주)와이디생명과학 [에일론] 인공지능, 데이터, 시스템, 바이오정보 분석담당 채용 경력무관 대졸↑ 경기 성남시 중원구 ]
[ (주)데이터마케팅코리아 마케팅 AI 솔루션 백엔드 엔지니어 신입·경력 대졸↑ 서울 강남구 ]
[ ㈜에코마케팅 마케팅테크그룹 프론트엔드/백엔드 신입/경력 채용 신입·경력 대졸↑ 서울 강남구 ]
[ (주)세나클소프트 [디지털헬스케어]백엔드 서버 개발 경력직(Backend Server) 경력3년↑ 학력무관 서울 강남구 ]
[ (주)브랜디 [브랜디] 개발자 채용 경력1년↑ 학력무관 서울 강남구 ]
[ 대전대학교 [전액국비]빅데이터분석플랫폼 구축,개발/바이오·화장품소재 경력무관 초대졸↑ 대전 동구 ]
[ (주)에스티로직 (주)에스티로직 2021년 상반기 부문별 경력사원 채용 경력 학력무관 서울 송파구 ]
[ 네이버클라우드(주) [네이버클라우드] 2021년 개발부문 경력사원 모집 경력 학력무관 경기 성남시 분당구 ]
[ 네이버클라우드(주) [네이버클라우드] 2021년 엔지니어부문 경력사원 모집 경력 학력무관 경기 성남시 분당구 ]
[ (주)웹젠 [웹젠ㅣ웹젠 자회사] 전 부문 채용 신입·경력 학력무관 경기 성남시 분당구 ]
[ (주)데이터스트림즈 빅데이터 플랫폼 신입 개발자 채용 신입·경력 학력무관 경기 성남시 분당구 ]

In [27]:
search_word = '하둡'
page_no = 1

rows = []

url = "https://www.saramin.co.kr/zf_user/search/recruit?search_area=main&search_done=y&search_optional_item=n&searchType=search&searchword={0}&recruitPage={1}&recruitSort=relation&recruitPageCount=40&inner_com_type=&company_cd=0,1,2,3,4,5,6,7,9,10&quick_apply=&except_read="

while True:
    
    resp = requests.get(url.format(search_word, page_no))

    soup = BeautifulSoup(resp.text, "html.parser")

    recruit_items = soup.select('#recruit_info_list .item_recruit')

    if recruit_items == None or len(recruit_items) == 0:
        print("End of List")
        break

    for recruit_item in recruit_items:
        cname = recruit_item.select_one('.area_corp a')
        title = recruit_item.select_one('.area_job .job_tit')
        exp = recruit_item.select_one('.area_job .job_condition span:nth-child(2)')
        edu = recruit_item.select_one('.area_job .job_condition span:nth-child(3)')
        loc = recruit_item.select_one('.area_job .job_condition span:nth-child(1)')
        rows.append( [ cname.get_text().strip(), title.get_text().strip(), exp.get_text().strip(), edu.get_text().strip(), loc.get_text().strip() ] )

    page_no += 1

    time.sleep(1)

End of List

In [29]:
print( len(rows) )
rows[:3]

257

[['(주)스카우트파트너스',
  '국내 대형 테크핀사 빅데이터/하둡(Hadoop) 플랫폼 엔지니어 채',
  '신입·경력',
  '대졸↑',
  '서울 강남구'],
 ['주식회사 오퍼스랩',
  '빅데이터(하둡) 관련 개발 및 운영 업무 정규직 채용 합니다',
  '신입·경력',
  '초대졸↑',
  '경기 성남시 분당구'],
 ['(주)티지360테크놀로지스',
  '빅데이터(Hadoop, Hive) 플렛폼 엔지니어/개발자 경력 채용',
  '경력3년↑',
  '학력무관',
  '서울 강남구']]

In [32]:
recruit_df = pd.DataFrame(data=rows, columns=['cname', 'title', 'exp', 'edu', 'loc'])
recruit_df.head(3)

,cname,title,exp,edu,loc
0,(주)스카우트파트너스,국내 대형 테크핀사 빅데이터/하둡(Hadoop) 플랫폼 엔지니어 채,신입·경력,대졸↑,서울 강남구
1,주식회사 오퍼스랩,빅데이터(하둡) 관련 개발 및 운영 업무 정규직 채용 합니다,신입·경력,초대졸↑,경기 성남시 분당구
2,(주)티지360테크놀로지스,"빅데이터(Hadoop, Hive) 플렛폼 엔지니어/개발자 경력 채용",경력3년↑,학력무관,서울 강남구

In [33]:
recruit_df.to_csv('data-files/saramin-result.csv', index=False)