In [2]:
# !pip install bs4
# !pip install finance-datareader

In [4]:
import FinanceDataReader as fdr

In [11]:
krx_data = fdr.StockListing('KRX')

In [12]:
krx_data.head(10)

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
5,211270,KOSDAQ,AP위성,통신 및 방송 장비 제조업,위성통신 단말기,2016-03-04,12월,류장수,http://www.apsi.co.kr,서울특별시
6,027410,KOSPI,BGF,기타 금융업,지주회사,2014-05-19,12월,홍정국,http://www.bgf.co.kr,서울특별시
7,282330,KOSPI,BGF리테일,종합 소매업,체인화 편의점,2017-12-08,12월,이건준,http://www.bgfretail.com,서울특별시
8,138930,KOSPI,BNK금융지주,기타 금융업,금융지주회사,2011-03-30,12월,김지완,http://www.bnkfg.com,부산광역시
9,001460,KOSPI,BYC,봉제의복 제조업,"메리야스,란제리 제조,도매/건축공사/부동산 임대,분양,공급",1975-06-02,12월,고 윤 성,http://home.byc.co.kr,서울특별시

In [14]:
len(krx_data)

2606

In [13]:
fdr.DataReader('060310')

            Open  High   Low  Close   Volume    Change
Date
2002-04-23  3316  3316  3316   3315   545120       NaN
2002-04-24  3652  3714  3382   3712   703615  0.119759
2002-04-25  4158  4158  3268   3817  3843510  0.028287
2002-04-26  3731  3820  3361   3360   880555 -0.119728
2002-04-29  2968  3142  2959   2959   696940 -0.119345
...          ...   ...   ...    ...      ...       ...
2020-12-15  2195  2195  2155   2185   139561  0.000000
2020-12-16  2195  2430  2180   2370  2909662  0.084668
2020-12-17  2425  2425  2290   2330   587914 -0.016878
2020-12-18  2335  2355  2225   2295   374375 -0.015021
2020-12-21  2250  2350  2250   2275   100763 -0.008715

[4617 rows x 6 columns]

In [20]:
kospi = fdr.DataReader('KS11', '20201221')
# kospi.tail(5)
kospi.values[0][0]

2778.65

In [16]:
kosdaq = fdr.DataReader('KQ11', '20201201')
kosdaq.tail(5)

             Close    Open    High     Low        Volume  Change
Date
2020-12-15  931.27  930.73  934.30  921.27  2.100000e+09  0.0019
2020-12-16  939.65  932.41  941.45  932.41  2.000000e+09  0.0090
2020-12-17  944.04  938.88  948.43  938.88  2.650000e+09  0.0047
2020-12-18  947.24  945.81  948.59  942.46  2.110000e+09  0.0034
2020-12-21  954.19  948.64  954.34  940.98  1.880000e+06  0.0073

In [11]:
dowjones = fdr.DataReader('DJI', '20201201')
dowjones.tail(5)

               Close      Open      High       Low       Volume  Change
Date
2020-12-15  30199.31  29919.09  30243.26  29894.95  419480000.0  0.0113
2020-12-16  30154.54  30191.38  30236.03  30080.11  349540000.0 -0.0015
2020-12-17  30303.37  30216.00  30323.78  30216.00  345530000.0  0.0049
2020-12-18  30179.05  30314.26  30343.59  30029.44  798230000.0 -0.0041
2020-12-21  30216.45  30159.00  30304.14  29755.53  445690000.0  0.0012

In [12]:
dowjones.reset_index()

         Date     Close      Open      High       Low       Volume  Change
0  2020-12-01  29823.92  29797.50  30083.31  29797.50  435440000.0  0.0063
1  2020-12-02  29883.79  29695.09  29902.51  29599.29  389330000.0  0.0020
2  2020-12-03  29969.52  29920.83  30110.88  29877.27  408410000.0  0.0029
3  2020-12-04  30218.26  29989.56  30218.26  29989.56  363090000.0  0.0083
4  2020-12-07  30069.79  30233.03  30233.03  29967.22  370580000.0 -0.0049
5  2020-12-08  30173.88  29997.95  30246.22  29972.07  314830000.0  0.0035
6  2020-12-09  30068.81  30229.81  30319.70  29951.85  383740000.0 -0.0035
7  2020-12-10  29999.26  30032.55  30063.87  29876.82  326930000.0 -0.0023
8  2020-12-11  30046.37  29988.21  30071.13  29820.84  396010000.0  0.0016
9  2020-12-14  29861.55  30123.91  30325.79  29849.15  371980000.0 -0.0062
10 2020-12-15  30199.31  29919.09  30243.26  29894.95  419480000.0  0.0113
11 2020-12-16  30154.54  30191.38  30236.03  30080.11  349540000.0 -0.0015
12 2020-12-17  30303.37  30216.00  30323.78  30216.00  345530000.0  0.0049
13 2020-12-18  30179.05  30314.26  30343.59  30029.44  798230000.0 -0.0041
14 2020-12-21  30216.45  30159.00  30304.14  29755.53  445690000.0  0.0012

In [1]:
import FinanceDataReader as fdr

In [2]:
krx_data = fdr.StockListing("KRX")

In [3]:
krx_data.head(5)

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [4]:
krx_data.to_csv('stocks-master.csv', index=False) # dataframe -> csv

In [1]:
import csv
import re

stocks_master = []
with open('stocks-master.csv', encoding="utf-8") as f:
    reader = csv.reader(f)
    header = next(reader)
    for line in reader:
        line[6] = re.sub(r'[^0-9]', '', line[6]) # [6]번째 데이터에서 숫자가 아닌 문자 제거 : 03월 -> 03
        stocks_master.append(line)

In [1]:
#stocks_master[1]

In [3]:
import pymysql

connection_info = { 'host': 'localhost', 'user': 'root', 'password': 'Pa$$w0rd', 'db': 'dashboarddb', 'charset': 'utf8' }
        
conn = pymysql.connect(**connection_info)
cursor = conn.cursor()

sql = 'DELETE FROM stocks_stockmaster'
cursor.execute(sql)

sql = 'INSERT INTO stocks_stockmaster VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
# cursor.executemany(sql, stocks_master) # executemany : 여러 개의 데이터를 한 번에 일괄 삽입

conn.commit()

conn.close()

In [4]:
import requests

url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19SidoInfStateJson'
api_key = 'R%2BBEwJ49XVmTutdoCAdNq4m7wjOsdFNhVtlzkxWVeZJPhwQqWbGcD7CNeQPipFzIWAanQVw%2FrPLsGkfcYvD4AQ%3D%3D'
# http://localhost:8000/a/b/c/?name=x&age=30
qs = 'serviceKey={0}&pageNo={1}&numOfRows={2}&startCreateDt={3}&endCreateDt={4}'.format(api_key, 1, 10, '20201201', '20201205')

response = requests.get(url + "?" + qs)

In [6]:
# response.content

In [ ]:
# !pip install xmltodict

In [8]:
import xmltodict
import json

In [9]:
response_dict = xmltodict.parse(response.content) # xml -> ordereddict

In [11]:
# response_dict

In [12]:
response_json = json.dumps(response_dict, ensure_ascii=False) # ordereddict -> json-string

In [14]:
# response_json

In [15]:
response_dict2 = json.loads(response_json) # json-string -> general dict

In [16]:
# response_dict2
type(response_dict2)

dict

In [22]:
# response_dict2
# response_dict2.keys()
# response_dict2['response'].keys()
# response_dict2['response']['body'].keys()
# response_dict2['response']['body']['items'].keys()
values = response_dict2['response']['body']['items']['item']

In [23]:
print( type(values) )
print( len(values) )
values[0]

<class 'list'>
95

{'createDt': '2020-12-05 10:19:52.549',
 'deathCnt': '0',
 'defCnt': '2193',
 'gubun': '검역',
 'gubunCn': '隔離區',
 'gubunEn': 'Lazaretto',
 'incDec': '12',
 'isolClearCnt': '1642',
 'isolIngCnt': '551',
 'localOccCnt': '0',
 'overFlowCnt': '12',
 'qurRate': '-',
 'seq': '6125',
 'stdDay': '2020년 12월 05일 00시',
 'updateDt': 'null'}

In [24]:
columns = [
	'global_seq', 'count_date', 'count_date_seq', 'created_date', 'updated_date', 'region_name', 'infection_count', 
    'increased_count', 'on_quarantine', 'release_quarantine', 'death_count', 'local', 'overseas', 'infection_rate'
]

keys = [
	'seq', 'stdDay', 'count_date_seq', 'createDt', 'updateDt', 'gubun', 'defCnt', 'incDec',
	'isolIngCnt', 'isolClearCnt', 'deathCnt', 'localOccCnt', 'overFlowCnt', 'qurRate'
]

key_column_map = { key: column for key, column in zip(keys, columns) }
print( key_column_map )
column_key_map = { column: key for key, column in zip(keys, columns) }
print( column_key_map )

len(keys), len(columns)

{'seq': 'global_seq', 'stdDay': 'count_date', 'count_date_seq': 'count_date_seq', 'createDt': 'created_date', 'updateDt': 'updated_date', 'gubun': 'region_name', 'defCnt': 'infection_count', 'incDec': 'increased_count', 'isolIngCnt': 'on_quarantine', 'isolClearCnt': 'release_quarantine', 'deathCnt': 'death_count', 'localOccCnt': 'local', 'overFlowCnt': 'overseas', 'qurRate': 'infection_rate'}
{'global_seq': 'seq', 'count_date': 'stdDay', 'count_date_seq': 'count_date_seq', 'created_date': 'createDt', 'updated_date': 'updateDt', 'region_name': 'gubun', 'infection_count': 'defCnt', 'increased_count': 'incDec', 'on_quarantine': 'isolIngCnt', 'release_quarantine': 'isolClearCnt', 'death_count': 'deathCnt', 'local': 'localOccCnt', 'overseas': 'overFlowCnt', 'infection_rate': 'qurRate'}

(14, 14)

In [25]:
import pymysql

connection_info = { 'host': 'localhost', 'user': 'root', 'password': 'Pa$$w0rd', 'db': 'dashboarddb', 'charset': 'utf8' }

conn = pymysql.connect(**connection_info)
cursor = conn.cursor()

for value in values:

    from datetime import datetime

    dt = datetime.strptime(value['stdDay'], "%Y년 %m월 %d일 %H시")
    value['stdDay'] = datetime.strftime(dt, '%Y-%m-%d')
    dt = datetime.strptime(value['createDt'], "%Y-%m-%d %H:%M:%S.%f")
    value['createDt'] = datetime.strftime(dt, '%Y-%m-%d %H:%M:%S')

    sql = "SELECT IFNULL(COUNT(*), 0) FROM infection_count WHERE count_date = %s and region_name = %s and created_date = %s"
    cursor.execute(sql, (value['stdDay'], value['gubun'], value['createDt']))
    if cursor.fetchone()[0] > 0: # 이미 저장된 데이터가 있는 경우
        continue    

    try: value['isolIngCnt'] = value['isolIngCnt'] if value['isolIngCnt'] else '-1' 
    except: value['isolIngCnt'] = '-1'

    try: value['localOccCnt'] = value['localOccCnt'] if value['localOccCnt'] else '-1'
    except: value['localOccCnt'] = '-1'

    try: value['overFlowCnt'] = value['overFlowCnt'] if value['overFlowCnt'] else '-1'
    except: value['overFlowCnt'] = '-1'

    try: value['isolClearCnt'] = value['isolClearCnt'] if value['isolClearCnt'] else '-1'
    except: value['isolClearCnt'] = '-1'  

    try: value['qurRate'] = value['qurRate'] if value['qurRate'] else '-1'
    except: value['qurRate'] = '-1'

    try: value['defCnt'] = value['defCnt'] if value['defCnt'] else '-1'
    except: value['defCnt'] = '-1'

    sql = "SELECT IFNULL(MAX(count_date_seq), 0) FROM infection_count WHERE count_date = %s and region_name = %s"
    cursor.execute(sql, (value['stdDay'], value['gubun']))
    count_date_sequence = cursor.fetchone()[0]
    value['count_date_seq'] = 1 if count_date_sequence == 0 else count_date_sequence + 1

    if not value['updateDt'] or value['updateDt'] == 'null':
        value['updateDt'] = value['createDt']
    else:
        dt = datetime.strptime(value['updateDt'], "%Y-%m-%d %H:%M:%S.%f")
        value['updateDt'] = datetime.strftime(dt, '%Y-%m-%d %H:%M:%S')

    value['qurRate'] = value['qurRate'] if value['qurRate'].isdigit() else '-1'  

    sql = 'INSERT INTO infection_count VALUES(NULL, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
    cursor.execute(sql, [ value[column_key_map[column]] for column in columns[1:] ])

conn.commit()

conn.close()